In [1]:
a=100
print(a)

100

In [3]:
#declaring and assigning variable
age=20
height=5.1
name="Ritika"
is_student=True

print("age:",age)
print("My name is",name)
print("Height:", height)

age: 20
My name is Ritika
Height: 5.1

In [ ]:
# understanding variable type
age=30 #INT
height=5.1 #float
name="Ritika" #string
print(type(age))
print(type(name))

<class 'int'>
<class 'str'>

In [9]:
#Type conversion
age=20
print(type(age))
new_age=str(age)
print(type(new_age))

<class 'int'>
<class 'str'>

In [16]:
height=5.11
#type(height)
float(int(height))
#print(height)

5.0

In [18]:
#DYNAMIC Typing
var=10.2
print(var,type(var))

10.2 <class 'float'>

In [20]:
# user input
name=input("What is your name")
print(name)

rritika dahal diid ho ni feri