In [39]:
##create a set
my_set={1,2,3,14,5,6,6}
print(my_set)

{1, 2, 3, 5, 6, 14}

In [40]:
my_empty_set=set()
print(my_empty_set)

TypeError: 'list' object is not callable

In [ ]:
##Basic set operation
#add or remove element

my_set.add(8)
print(my_set)

{1, 2, 3, 5, 6, 8, 14}

In [ ]:
#remove element from a set
my_set={1,2,3,14,5,6,6}
my_set.remove(5)
print(my_set)

{1, 2, 3, 6, 14}

In [ ]:
my_set.remove(1)

In [ ]:
#POP ELEMENTS( FIFO)
removed_elements=my_set.pop()
print(removed_elements)

3

In [ ]:
#CLEAR ALL THE ELEMENTS
my_set.clear()
print(my_set)

set()

In [ ]:
##set membership test
my_set={1,2,3,4,5,6.7}
print(3 in my_set)
print(10 in my_set)

True
False

In [ ]:
#mathematical operation
set1={1,2,3,4,5,6,7}
set2={7,8,9,10}

#union operation
union_set=set1.union(set2)
print(union_set)

#intersection
intersection_set=set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{7}
{7}
set()

In [ ]:
set1={1,2,3,4,5,6,7}
set2={3,4,5,6,7,8,9}


#difference
print(set1.difference(set2))

{1, 2}

In [ ]:
##symmetric difference
set1.symmetric_difference(set2)

{1, 2, 8, 9}

In [ ]:
##sets method
set1={1,2,3,4}
set2={1,2,3}
#is subset
print(set1.issubset(set2))

print(set1.issuperset(set2))

False
True

In [43]:
text = "In this tutorial we are discussing about sets"
words_list = text.split()
# convert list of words to set to get unique words
unique_words = (words_list)
print(unique_words)
print(len(unique_words))

['In', 'this', 'tutorial', 'we', 'are', 'discussing', 'about', 'sets']
8